#ultrabox-news-search {
    background-color: hsl(var(--ctp-surface1)) !important;
}

#ultrabox-news-category-display {
    background-color: var(--sb-ck-active) !important;
    color: var(--sb-ck-active-grey) !important;
}

#ultrabox-news-search-autocomplete {
    background-color: hsl(var(--ctp-surface2)) !important;
    color: hsl(var(--ctp-text)) !important;
    outline: 1px solid hsl(var(--ctp-accent)) !important;
    border-radius: 10px 10px !important;
}

.ultrabox-news-search-autocomplete-item:hover {
    background-color: hsl(var(--ctp-accent)) !important;
    color: hsl(var(--ctp-crust)) !important;
}
