#ultrabox-history-container {
    background-color: var(--content-ui-background) !important;
}

.ub-view-text-button {
    background-color: hsl(var(--ctp-surface1)) !important;
    outline: 1px solid hsl(var(--ctp-accent)) !important;
    color: var(--color-text-secondary) !important;
}

ins.diffmod {
    background-color: var(--ck-custom-green) !important;
}

del.diffmod {
    background-color: var(--ck-custom-red) !important;
}
