#ultrabox-history-container {
    background-color: var(--content-ui-background) !important;
}

.ub-view-text-button {
    background-color: hsl(var(--ctp-surface1)) !important;
    outline: 1px solid hsl(var(--ctp-accent)) !important;
    color: var(--color-text-secondary) !important;
}

.ultrabox-revision-wrapper::after {
    background: hsl(var(--ctp-accent)) !important;
}

.ultrabox-revision-wrapper::before {
    border: hsl(var(--ctp-accent)) !important;
    border-radius: 999px;
    background: hsl(var(--ctp-accent)) !important;
    border: hsl(var(--ctp-accent)) !important;
}

ins.diffmod {
    background-color: var(--ck-custom-green) !important;
}

del.diffmod {
    background-color: var(--ck-custom-red) !important;
}
